# --- Python Core & Runtime ---
__pycache__/
*.py[cod]
*.egg-info

# --- Virtual Environments ---
.venv/
venv/
env/

# --- IDE & OS ---
.idea/
.vscode/
.DS_Store
Thumbs.db
*.iml

# --- Testing & Code Quality ---
.pytest_cache/
.coverage

# --- Data ---
*.json
!src/data/.gitkeep
src/cache/*.json